@import '../colors';
@import '../breakpoints';

.container {
  width: 100% !important;
  height: 100% !important;

  display: flex;
  align-items: center;
  justify-content: center;

  form {
    h2 {
      color: $primary;
      text-align: center;
    }
    .formGroup {
      display: flex;
      flex-direction: column;

      width: 400px;
      padding: 10px;

      @media (max-width: $brMed) {
        width: 100%;
      }

      textarea,
      input {
        width: 100% !important;
        border-radius: 16px;
        border: none;
        padding: 10px;
        font-size: 16px;
        color: black;
      }

      textarea {
        height: 200px !important;
      }
    }

    button {
      background-color: $primary;
      padding: 10px;
      font-size: 18px;
      width: 100%;
      border-radius: 16px;
      margin-top: 10px;
    }
  }
}

.contactData {
  background-color: $primary;
  min-width: 200px;
  min-height: 400px;
  padding: 20px;
  margin: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    text-align: center;
  }

  .contactDataObj {
    background-color: $font1;
    color: $primary;
    margin: 12px 0;
    padding: 10px;
    border-radius: 16px;
  }

  * {
    box-shadow: none;
  }
}
