@import '../breakpoints';

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  width: 100vw;
  @media (max-width: $brMed) {
    min-height: 100vh;
    justify-content: center;
  }

  main {
    margin-bottom: 30px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $brMed) {
      margin-bottom: 100px;
      width: 90%;
    }
  }
}
