@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'colors.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $font1;
  letter-spacing: 1.5px;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

body {
  background-color: $primaryBg;
  overflow-x: hidden;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  border-radius: 10px;
}

